@tailwind base;
@tailwind components;
@tailwind utilities;

#landing-text{
    font-family: "Arima", system-ui;
    font-size: 40px;
   
}
#button1{
    font-family: "Arima", system-ui;
}

#Login{
    font-size: 25px;
}
#input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
  }
  #inputsec{
    
        width: 100%;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 16px;
      
      
  }
  .react-calendar{
    width: 100% !important;
    border: none !important;
    font-family: 'inter',sans-serif !important;
  }
  .react-calendar__tile--active{
    background-color: #67e8f9 !important ;
    color: black;
  }
  .react-calendar__navigation__label{
    font-weight: 600;
  }